---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

    <a href="/">Accueil</a>
    <a href="/about">À propos</a>
    <a href="/blog">Blog</a>

    <h1>Blog</h1>
    <h2>... et de mon nouveau site Astro !</h2>

    <h2>Mon premier article</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>

    <h2>Mon deuxième article</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>


</Layout>
